// Custom Styles
body {
  background: url(../images/bg.jpg) no-repeat center center fixed #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $gray;
  font-family: $lato;
  font-weight: 300;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  color: $white;
  font-size: 50px;
  margin: 0;
  padding: 5em;
  text-align: center;
  letter-spacing: .5em;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: lowercase;
  background-color: $teal;
  padding: 1em 3.15em 1em 1.5em;
  text-decoration: none;
  text-shadow: none;
  background-clip: padding-box;
  border: none;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  &:hover {
    background: darken($teal, 20%);
  }
  &.hvr-icon-drop:before {
    content: "\f003";
    right: 1.5em;
  }
}