// Custom Styles
body {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $gray;
  font-family: $lato;
  font-weight: 300;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  color: $white;
  font-size: 50px;
  margin: 0;
  padding: 5em;
  text-align: center;
  letter-spacing: .5em;
}

a {
  text-decoration: none;
  &:hover {
  }
}