.menu-button {
  display: none;
  float: right;
  padding: .5em;
  z-index: 1000;
}

.burger-icon {
  @include burger(25px, 3px, 5px, #333);
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}

#scotch-panel {
    background: #444;
}
#scotch-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#scotch-panel ul li a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: #fff;
}
#scotch-panel ul li a:hover {
    background: #555;
}

header {
  display: block;
  width: 100%;
  position: relative;
  z-index: 100;
  &.fixed {
    background: $gray;
    display: none;
    position: fixed;
  }
}

.hvr-underline-from-center:before {
	background: rgba(255,255,255,0.5);
	height: 2px;
}

nav {
  height: 80px;
  width: 100%;
  text-align: center;
  line-height: 80px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  li {
    display: inline;
    padding: 0 1rem;
    a {
      color: $white;
      font-size: 0.85rem;
      font-weight: 500;
      line-height: 1.5;
      text-transform: uppercase;
    }
  }
}