//little nav
.menu-button {
  display: none;
  float: right;
  padding: .5em;
  z-index: 1000;
}

.burger-icon {
  @include burger(25px, 3px, 5px, #333);
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}

#scotch-panel {
    background: #444;;
}
#scotch-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#scotch-panel ul li a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: #fff;
}
#scotch-panel ul li a:hover {
    background: #555;
}

//big nav
nav {
  display: none;
  position: fixed;
  background: $gray;
  height: 80px;
  width: 100%;
  text-align: center;
  z-index: 100;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  li {
    display: inline;
    padding: 0 1rem;
    a {
      color: $white;
      font-size: 0.85rem;
      font-weight: 500;
      line-height: 80px;
      text-transform: uppercase;
    }
  }
}