.mrblu-logo {
  position: absolute;
  display: block;
  top: 20px;
  left: 10px;
  width: 198px;
}

.menu-button {
  display: none;
  float: right;
  padding: .5em;
  z-index: 1000;
}

.scotch-panel-wrapper {
  overflow-x: hidden;
  overflow-y: visible;
}

.burger-icon {
  @include burger(25px, 3px, 5px, #333);
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}

#scotch-panel {
    min-height: 100vh;
    background: #444;
}
#scotch-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#scotch-panel ul li a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: #fff;
}
#scotch-panel ul li a:hover {
    background: #555;
}

.panel-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999999;
  -webkit-transition: all 225ms ease;
  -moz-transition: all 225ms ease;
  transition: all 225ms ease;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  cursor: pointer;
}

.scotch-is-showing .panel-overlay {
  display: block;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  display: block;
  width: 100%;
  position: relative;
  z-index: 10000;
  &.fixed {
    overflow: visible;
    background: $gray;
    display: none;
    position: fixed;
    height: 80px;
  }
}

.hvr-underline-from-center:before {
	background: rgba(255,255,255,0.5);
	height: 2px;
}

nav {
  height: 80px;
  width: 100%;
  text-align: center;
  line-height: 80px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  li {
    display: inline;
    padding: 0 1rem;
    a {
      color: $white;
      font-size: 0.85rem;
      font-weight: 500;
      line-height: 1.5;
      text-transform: uppercase;
    }
  }
}