.hero {
  position: relative;
  width: 100%;
  z-index: 1;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero:before, .hero:after {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top:0;
  display: block;
  width: 50%;
  height: 100%;
  border: 30px solid transparent;
  border-bottom-color: darken($teal, 10%);
}

.hero:before {
  left: 0;
  border-right: 20px solid transparent;
  border-left: 0;
}

.hero:after {
  right: 0;
  border-left: 20px solid transparent;
  border-right: 0;
}

.hang-container {
  bottom: 0;
  position: absolute;
  width: 100%;
}

h1 {
  position: relative;
  z-index: 11;
}

#lets-get-started {
  color: white;
  text-align: center;
  position: relative;
  bottom: 8em;
  border: 1px solid white;
  width: 150px;
  height: 80px;
  margin: 0 auto;
  background: rgba(255,255,255,0);
  font-weight: 500;
  -webkit-transition: background 300ms ease-in-out;
  -moz-transition: background 300ms ease-in-out;
  -ms-transition: background 300ms ease-in-out;
  -o-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  &:hover {
    background: rgba(255,255,255,0.5);
  }
  z-index: 11;
}

/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

#lets-get-started:hover .hvr-hang {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0;
  transform: rotate(135deg);
  vertical-align: top;
  width: 0.45em;
}

.services {
  position: relative;
  height: auto;
  width: 100%;
  background: darken($teal, 10%);
  padding: 4em 0; 
}

.services {
  .icon-container{
  	@include outer-container;
  	.icon-services {
      margin: 2rem 0;
      img {
        display: block;
        margin: 2rem auto;
        max-width: 252.75px;
        width: 75%;
      }
  		p {
	  	padding: 1rem;
  		color: white;
        max-width: 252.75px;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        font-size: .75rem;
  		}
      &.row-1 {
        @include span-columns(3);
        &:nth-child(4n+0) {
          @include omega();
        }
      }
      &.row-2 {
        img {
          width: 55%;
        }
        @include span-columns(4);
        &:nth-child(3n+0) {
          @include omega();
        }
      }
  	}
  }
}


#work-section{ // FOR SCROLLTO FUNCTION
 margin-top: 3em; 
}
.work {
  @include clearfix;
  display: block;
  background: #f7fdfa;
  height: auto;
  width: 100%;
  height: 100%;
  .project {
    display: block;
    float: left;
    width: 25%;
    min-height: auto;
    position: relative;
    span.overlay {
      h3 {
        font-size: 2rem;
        text-align: center;
        color: white;
        margin: 0;
      }
      p {
        text-align: center;
        color: white;
      }
      padding-top: 7em;
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background: rgba($teal,.85);
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      &:nth-child(2n+0) {
        background: rgba(red,.85);
      }
      &:hover {
        opacity: 1;
      }
    }
    &.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
        &:nth-child(2n+0) {
        background-color: $dark-teal;
      }
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      &:hover {
        opacity: 0.25;
      }
    }
  }
}

.about {
  @include clearfix;
  display: block;
  background: white;
  height: auto;
  width: 100%;
  height: 100%;
  padding: 4em 0;
  .resume {
    @include outer-container;
    h2 {
		  margin-top: 0;
      text-align: center;
	  }
    .resume-section {
      @include span-columns(4);
      min-height: 400px;
    	ul {
      	margin-top: 2em;
      	li {
    	  	margin-top: .75rem;
    	  	padding: 0;
    	  	list-style: none;
    	  	display: block;
    	  	text-align: left;
      	}
    	}
      &:nth-child(3n+0) {
        @include omega();
      }
    }
  }
}

.contact {
  background: $dark-teal;
  padding: 4em;
  h2 {
    text-align: center;
    margin:0;
  }
  p {
    margin: 0;
    text-align: center;
    color: white;
  }
}