body {
  &.bdy-2 {
    background: white;
  }
}

.description {
  @include outer-container;
  .desktop-ex {
    @include span-columns(6);
    @include shift(3);
    img.logo {
      width: 75%;
      text-align: center;
    }
    padding-top: 4em;
    a {
      color: white;
    }
    p {
      color: gray;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: .5em;
      text-align: center;
    }
  }
}

.work-sub {
  @include outer-container;
  .project {
    @include span-columns(6);
    &:nth-child(2n+0) {
        @include omega();
    }
     &:nth-child(2n+0) {
        @include omega();
    }
    img {
      width: 100%;
      padding-bottom: 4em;
    }
  }
}

.example {
  img {
    width: 100%;    
  }
}

.hero-sub {
  position: relative;
  width: 100%;
  z-index: 1;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
}


