body {
  &.bdy-2, &.bdy-3 {
    .burger-icon {
      @include burger(25px, 3px, 5px, #fff);
    }
    h1 {
      padding: 10rem 0 0;
      line-height: 100px;
    }
  }
  &.bdy-2 {
    background: white;
    h1 {
      color: $gray;
    }
  }

  &.bdy-3 {
    background: $teal;
    h1 {
      color: white;
    }
  }
}

.description {
  p {
    text-align: center;
    font-size: 1.5em;
  }
  position: relative;
  @include outer-container;
  .desktop-ex {
    @include span-columns(6);
    @include shift(3);
    padding: 4em 0;
    img.logo {
      display: block;
      width: 75%;
      margin: 0 auto;
    }
    img.desktop {
      width: 100%;
    }
    padding-top: 4em;
    a {
      color: white;
    }
    p {
      color: gray;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: .5em;
      text-align: center;
      &.content {
        font-size: 1em;
        letter-spacing: normal;
        text-transform: none;
        text-align: justify;
      }
    }
  }
}

.example {
  width: 100%;
  position: relative;
}

.work-sub {
  padding-bottom: 4em;
  @include outer-container;
  .project {
    @include span-columns(6);
    &:nth-child(2n+0) {
        @include omega();
    }
     &:nth-child(2n+0) {
        @include omega();
    }
    img {
      width: 100%;
      padding-top: 4em;
    }
  }
}

.example {
  img {
    width: 100%;
  }
}

.hero-sub {
  position: relative;
  width: 100%;
  z-index: 1;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width : 1024px) {
  .description {
    p {
      text-align: center;
      font-size: 1.5em;
    }
    @include outer-container;
    .desktop-ex {
      @include span-columns(9);
      @include shift(1.5);
      padding: 2em 0;
      img.logo {
      }
    }
  }
  .work-sub .project img {
    padding: 2em 0;
  }
}

@media only screen and (max-width : 640px) {
  body {
    &.bdy-2, &.bdy-3 {
      h1 {
        padding: 3rem 0 0;
        line-height: 25px;

      }
      .work-sub .project {
        width: 100%;
        margin: 0;
      }
    }
  }
}


